@using Martin.ResourcesCommon.Data

@using EBills.Domain
@using EBills.Security
@using Language = Martin.ResourcesCommon.Domain.Language
@if (Request.IsAuthenticated)
{
    <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">@User.Identity.Name
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @*<li><a href="@Url.Action("Profile", "Account", new { area = "" })">@Martin.ResourcesCommon.ResourceManager.GetResourceValue("_LoginPartial.cshtml.Profil")</a></li>*@
            <li><a href="@Url.Action("Profile", "Account", new { area = "" })">Профил</a></li>
            @{ 
    ResourcesCommonDataProvider rcdataprovider = new ResourcesCommonDataProvider();
    List<Language> languages = rcdataprovider.GetAllEnabledLanguages();
    CustomPrincipal customPrincipal = HttpContext.Current.User as CustomPrincipal;
    bool hasMultipleRoles = customPrincipal != null && customPrincipal.User.Roles.Count > 1; 
            }
            @if (languages.Count > 1)
            {
                <li class="dropdown-submenu pull-left">
                    <a tabindex="-1">@Martin.ResourcesCommon.ResourceManager.GetResourceValue("_LoginPartial.cshtml.Jazik")</a>
                    <ul class="dropdown-menu">
                        @foreach (Language lang in languages)
                        {
                            <li><a tabindex="-1" href="@Url.Action("OnLanguageSelectorClick", "LanguageSelector", new { area = "", Language = lang.ShortTitle })">@lang.Title</a></li>
                        }
                    </ul>
                </li>
            }
            <li class="divider"></li>
            @*<li><a href="@Url.Action("Logout", "Account", new { area = "" })">@Martin.ResourcesCommon.ResourceManager.GetResourceValue("_LoginPartial.cshtml.OdjaviSe")</a></li>*@
            <li><a href="@Url.Action("Logout", "Account", new { area = "" })">Одјава</a></li> 
        </ul>
    </div>
      
 
}
